<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grayscale - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">WELCOME</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
       
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">WELCOME</h1>
        <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start
          Bootstrap.</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a> -->
      </div>
    </div>
  </header>
 
  <section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- <div style="width: 75%">
      <canvas id="myChart"></canvas>
    </div> -->
    <div style="width: 75%">
      <canvas id="myChart1"></canvas>
    </div>
    <div style="width: 75%">
      <canvas id="myChart2"></canvas>
    </div>



    <script>

      var ctx = document.getElementById('myChart2').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',


        // The data for our dataset
        data: {
          labels: [{% for i in tab2 %} "{{i}}", {% endfor %}],
      // labels: ['ta', 'mi','sp'],
      datasets: [{
                        label:  '{{nom_de_la_recette[1]}}', 
                        backgroundColor:["#328f8e","#328f8e","#328f8e","#328f8e","#328f8e","#328f8e"],
                        data:{{tab5}},
                    },
                    {
                        label: '{{nom_de_la_recette[3]}}',
                        backgroundColor:["#ee8029","#ee8029","#ee8029","#ee8029","#ee8029"],
                        data:{{tab6}},
                    },
                    {
                        label:  '{{nom_de_la_recette[5]}}', 
                        backgroundColor:["#000000","#000000","#000000","#000000","#000000"],
                        data:{{tab7}},
                    },
                    {
                        label:  '{{nom_de_la_recette[7]}}', 
                        backgroundColor:["blue","blue" ,"blue","blue","blue"],
                        data:{{tab8}},
                    },
                    {
                        label:  '{{nom_de_la_recette[9]}}', 
                        backgroundColor:["red","red","red","red","red"],
                        data:{{tab9}},
                    },
                    {
                      type: 'line',
                      label: '{{nom_de_la_recette[3]}}',
                      backgroundColor:"rgba(216,158,158)",
                      data:{{tab6}},
                      fill:false
                    }
                      ]
                },
            
                // Configuration options go here
                options: {
                    title:{
                           display: true,
                           text: 'DIAGRAMME DES PRODUITS PIZZAS '
                        }
                }
            });
    </script>
     
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/grayscale.min.js"></script>

</body>

</html>